@model NSCMovie.Models.Movie
@{
    ViewData["Title"] = "Movie";
}


<head>
    <style>
        body{
            background-color: #C0C0C0;
        }
        header{            
            color: #000000;            
        }        
        nav{
            background-color: #808080;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
            color: #000000;
        }                
    </style>
</head>
<body>
    <div class="text-left">
        <img src="https://cdn.cgv.id/uploads/movie/compressed/21012300.jpg" alt="Posters" width="200" height="300">        
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayFor(model => Model.Title)</th>                                                    
            </tr>
        </thead>        
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => Model.Schedule)</td>
                <td>@Html.DisplayFor(model => Model.Schedule)</td>                                   
            </tr>  
            <tr>
                <td>@Html.DisplayNameFor(model => Model.Rating)</td>
                <td>@Html.DisplayFor(model => Model.Rating.Rating)</td>                                            
            </tr> 
            <tr>
                <td>@Html.DisplayNameFor(model => Model.Room)</td>
                <td>@Html.DisplayFor(model => Model.Room)</td>                                                                  
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <h6>@Html.DisplayFor(model => Model.Price)</h6>
        <button></button>
    </div>
</body>
